* { font-family: 'IBM Plex Mono', Consolas, monospace; color: #00ff00; background-color: black; }
body { padding: 5px; margin: 10px; padding-left: 20px; font-size: 20px; height: auto; }
input, input:focus { border: none; font-size: 20px; outline: none; height: 30px; width: 90%; padding: 10px; margin-bottom: -15px; margin-top: -15px; }
li { list-style-type: none; color: #00ff00; margin-left: -40px; margin-bottom: -10px; margin-top: 20px; }
li:before { content: "$ "; }

@media (max-width: 360px){
    body { height: 75vh; font-size: 20px; }
    input, input:focus { font-size: 20px; margin: -0.5px; padding: 10px; }
}
